{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henry Bernerd</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    
<header>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">HENRY BERNERD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Wallet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin">Admins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="payments">payments</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid mt-3">
  <h3>The Henry Bernerd's crypto Foundations works to build a vibrant and inclusive powerful tool for making money money through crypto currency, Teaching young youth how to make money through crypto currency by investing.</h3>
</div><hr>

</header>

<main>

    <div class="container mt-3">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>How we work</h1> 
            <p>We the 'Henry Bernerd's foundation' are proffesional in the crypto space. We aim at helping young people earn real cash just by investing and learning how to trade. Every year, the 'Henry Bernerd's foundation' give grants to a diverse array of groups and individuals who promote our values—through a unique network that is guided by local voices and global expertise...</p>
        </div>
    </div><hr>

    <div class="container mt-3">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>$21B</h1>
            <h6>Total expenditures</h6><hr>
            <p>Over the past three decades, our giving has focused on supporting people who are trying to make their communities fairer, freer, and more harmonious.</p> 
        </div>
    </div><hr>

    <div class="container mt-3">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>$1.3B</h1>
            <h6>2022 expenditures</h6><hr>
            <p>Our decentralized and bottom-up approach allows us to focus on long-term strategies while also remaining nimble and flexible enough to respond to sudden crises.</p> 
        </div>
    </div><hr>

    <div class="container mt-3">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>50,000+</h1>
            <h6>Total Grants Awarded</h6><hr>
            <p>Our grants—ranging from a few thousand to hundreds of thousands of dollars—are awarded to organizations and activists in over 120 countries.</p> 
        </div>
    </div><hr>

    <div class="button">
        <h3>Our Co-Founders</h3>

        <button type="button" class="btn btn-primary">Henry Bernerd</button>
        <button type="button" class="btn btn-success">Mike Agbo</button>
        <button type="button" class="btn btn-warning">Jeffery Otubo</button>
        <button type="button" class="btn btn-danger">Sydney Ganobi</button>        
    </div><hr>

    <div class="container mt-3">
        <h2>Got Any Questions:</h2>
        <p>Use the form below to reach out tot us if you got any questions.</p>
        <form action="/action_page.php">
            <div class="mb-3 mt-3">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div><hr>

    <div class="founder">
        <div class="row">
            <div class="col">Henry Bernerd</div>
            <div class="col">
                <img class="img-fluid" src="../static/img/richard3.jpg" alt="New York">
                <p>George Soros is the founder of the Open Society Foundations. He has given away more than $32 billion of his personal fortune to fund the Open Society Foundations’ work around the world.</p>
            </div>
          </div>
    </div>

    <div class="container p-5 my-5 bg-primary text-white">
        <h1>Subscribe to updates about Open Society’s work around the world</h1>
        <p>
            <form action="/action_page.php">
                <div class="mb-3 mt-3">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </p><hr>
        <p>By entering your email address and clicking “Submit,” you agree to receive updates from the Open Society Foundations about our work. To learn more about how we use and protect your personal data, please view our privacy policy.</p>
    </div>
      

</main>

    <footer></footer>
</body>
</html>